SLACK_BOT_TOKEN={{ vault_slack_socket_bot_token }}
SLACK_APP_TOKEN={{ vault_slack_socket_app_token }}
SLACK_AUTHORIZED_USER_ID={{ vault_slack_authorized_user_id }}
RECOVERY_QUORY_HOST={{ recovery_slack_quory_host }}
