[ req ]
prompt             = no
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
CN = {{ cert_host_config.cn }}

[ req_ext ]
subjectAltName = @alt_names
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ v3_req ]
subjectAltName = @alt_names
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
{% for dns in cert_host_config.san_dns %}
DNS.{{ loop.index }} = {{ dns }}
{% endfor %}
{% for ip in (cert_host_config.san_ip | default([])) + ([cert_resolved_san_ip] if cert_resolved_san_ip is defined else []) %}
IP.{{ loop.index }} = {{ ip }}
{% endfor %}
